extends layout

block content
    
    .studentlist    
        h1 Class list    
        label Search:
            input(ng-model="searchText")                
        div(ng-controller="class")
            ul.head
                li 
                   label Name
                li 
                   label Age
                li 
                   label Class
                li 
                   label DOB
            ul.body(ng-repeat="mongo_result in cmlist | filter:searchText")
                li
                    |{{mongo_result.name}}
                li
                    |{{mongo_result.age}}
                li
                    |{{mongo_result.class}}
                li
                    |{{mongo_result.DOB | date:'MM-dd, yyyy' }}
                li
                    button.btn-primary(type="button" data-id="{{$index}}" class="detailbutton" ng-click="detail($index)") Detail
                li 
                    button.btn-danger(type="button" class="btnOrderLiterature" data-value="{{mongo_result.age}}" value="{{mongo_result.name}}" ng-click="addLiteratureToSession($event)") Delete
           
                    