extends layout

block content
  form(action='/instructors', method="POST", name="Form")
    input(type="text" placeholder="name" name="name" class="form-control" autocomplete="off" required)
    input(type="number" placeholder="age" name="age" class="form-control" min="0" max="99" autocomplete="off" required)
    div
        input(type="radio" name="gender" value="Male" checked=gender=="male")
        | Male
        input(type="radio" name="gender" value="Female" checked=gender=="female")
        | Female
    input(type="email" placeholder="Email" name="email" class="form-control" autocomplete="off" required)
    input(type="date" ng-model="dateString" placeholder="DOB" name="DOB" class="form-control" required)
    input(type="number" placeholder="Phone" name="phone" 
           ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" 
            class="form-control" autocomplete="off" required)
    input(type="text" placeholder="Address" name="address" class="form-control" autocomplete="off" required)
    input(type="date" ng-model="dateString2" placeholder="date of start" name="dateofstart" class="form-control" required)
    button.btn-primary(type="submit") Submit
    a(href='/instructor') back to list